h1 {
    font-family: Poppins;
    font-size: 200px;
    font-weight: bolder;
    line-height: 50px;
    letter-spacing: -12px;
    padding: 45px;
}

p {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    padding: 20px;
}

.header {
    background-image: url(../img/Background_image.png);
    width: 100%;
    height: 155vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 40px;
    height: 48px;
}

.top-menu {
    padding: 40px;
    height: 16px;
}

.header-text {
    height: 75%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.button-center {
    width: 190px;
    height: 64px;
    background: none;
    border-radius: 32px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    outline: none;
}

.button-center a {
    text-decoration: none;
    color: #ffffff;
}

.button-center:hover {
    background-color: #353535;
}

.pointer-down {
    color: #fff;
    background: none;
    border: none;
    font-size: 48px;
    outline: none;
    width: 27px;
    height: 16px;
    line-height: 48px;
}

.pointer-fas {
    display: flex;
    font-size: 36px;
}

/*second section*/
.make-desing, .Who-I {
    padding-top: 5%;
    display: flex;
}

.text-item {
    width: 45%;
    text-align: left;
    margin-top: -15px;
}

.text-item h2 {
    color: #2a2d2e;
    font-family: Poppins;
    font-size: 80px;
    font-weight: bold;
    line-height: 100px;
    letter-spacing: -4px;
    margin-bottom: 37px;
}

.text-item h4 {
    color: #2a2d2e;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

.text-wrap {
    padding: 0 10%;
}

.btn-black {
    width: 35%;
    border: 1px solid #000;
}

.btn-black a {
    color: #000;
}

.btn-black:hover {
    background-color: gray;
}

/*third section*/
.picture2 {
    background: url(../img/creative.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 670px;
    width: 65%;
}

.Who-I h2 {
    margin-bottom: 15px;
}

.Who-I h4 {
    margin-bottom: 15px;
}

.Who-I p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 0;
}

.picture-Who {
    background: url(../img/video.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 670px;
    width: 75%;
}

.text-wrap-who {
    padding: 0 10%;
}

/*Panel*/
.panel-menu {
    display: flex;
    margin: 5% 0 3%;
    justify-content: center;
}

.panel-menu a {
    margin-right: 23px;
    font-size: 19px;
    line-height: 30vh;
    letter-spacing: -0.9px;
    text-decoration: none;
    color: #818586;
    font-family: 'Poppins', sans-serif;
}

.panel-menu a:hover {
    color: #33303a;
}

/*Grid*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
}

.grid-container > div {
    min-height: 385px;
    min-width: 385px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.grid-item-1 {
    background: url("../img/port1.png");
    grid-area: 1/1/3/3;
}

.grid-item-2 {
    background: url("../img/port2.png");
    grid-area: 1/3/2/5;
}

.grid-item-3 {
    background: url("../img/port3.png");
    grid-area: 2/3/3/5;
}

.grid-item-4 {
    background: url("../img/port4.png");
    grid-area: 3/1/5/2;
}

.grid-item-5 {
    background: url("../img/port5.png");
    grid-area: 3/2/5/4;
}

.grid-item-6 {
    background: url("../img/port6.png");
    grid-area: 3/4/4/5;
}

.grid-item-7 {
    background: url("../img/port7.png");
    grid-area: 4/4/5/5;
}

.grid-item-8 {
    background: url("../img/port8.png");
    grid-area: 5/1/7/3;
    width: 670px;
    height: 798px;
}

.grid-item-9 {
    background: url("../img/port9.png");
    grid-area: 5/3/7/5;
}

.grid-text {
    margin: 2%;
}

.grid-subtitle {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
}

.grid-title {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.2px;
}

/*button*/
.btn-all {
    text-align: center;
    margin-top: 3%;
}

.btn-black-center {
    border: 1px solid #000
}

.btn-black-center a {
    color: black;
}

.btn-black-center:hover {
    background-color: gray;
}

/*Select your plans*/
.select-plans {
    background-image: url(../img/project-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080px;
    margin: 8% 0 10%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.select-plans-box {
    display: flex;
    justify-content: center;
}

.select-title {
    height: 14%;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: -4px;
}

.select-plans .select-title {
    color: #ffffff;
    margin-top: 6%;
    text-align: center;
}

.select-plans .subtitle {
    color: #ffffff;
    text-align: center;
}

.select-plans-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 7%;
}

.plans-img {
    margin-top: 30%;
    border: 1px solid #ffffff00;
    border-radius: 50%;
    padding: 10px;
}

.plans-img:hover {
    border-color: #ffffff;
}

.select-plans-menu h4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    line-height: 65px;
    letter-spacing: -1.2px;
}

.select-plans-menu a {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}

.plans-menu {
    list-style: none;
    text-align: center;
}

.purple-btn {
    margin-top: 20%;
    text-align: center;
    width: 170px;
    height: 40px;
    padding: 20px;
}

.purple-btn a {
    font-size: 12px;
}

.select-plans-menu .btn:hover {
    background-color: #7443ff;
    border-color: #7443ff;

}

/*Keep in*/
.keep-in {
    display: flex;
    margin: 0 7% 8%;
    width: 85%;
}

.keep-in-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.keep-in-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.purple-text {
    color: #7443ff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    white-space: nowrap;
    margin-bottom: 20px;
}

.keep-in-title {
    color: #2a2d2e;
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: -4px;
    font-weight: bolder;
}

.keep-in-subtitle {
    color: #2a2d2e;
    font-family: Poppins;
    font-size: 18px;
    line-height: 30px;
}

.keep-in-item .keep-in-subtitle {
    margin: 10px 0px;
}

.content-text {
    color: #72787a;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: -5%;
    text-align: justify;
}

.form-item {
    position: sticky;
    margin-top: 8%;
}

.form-item:first-child {
    margin-top: 0;
}

.form-item input {
    padding-bottom: 10px;
    color: #72787a;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border-width: 0 0 1px;
    border-color: #72787a50;
    width: 100%;
}

.form-item input:hover {
    border-bottom-color: #7b31ff;
    cursor: pointer;
    font-weight: 600;
}

.submit-icon {
    right: 0;
    position: absolute;
    bottom: 20px;
    color: #72787a;
}

.form-select select {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #72787a;
    -webkit-appearance: none;
    outline: none;
    border-width: 0 0 1px;
    width: 100%;
}

.form-select select:hover {
    cursor: pointer;
    outline: 0;
    border-bottom-color: #7443ff;
    color: #72787a;
    font-weight: 600;
}

.keep-in-form .btn {
    margin-top: 44px;
}

.btn-keep-in {
    margin-top: 35px;
}

/*about us*/
.about-us {
    margin: 0 20%;
}

.about-us hr {
    height: 2px;
    background-color: #000000;
    opacity: 0.1;
    border: none;
}

.contacts {
    display: flex;
    margin-top: 7%;
}

.contact-content {
    margin-right: 26px;
}

.contact-title {
    color: #2a2d2e;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: -1.5px;
    margin: 4% 0 3%;
    white-space: nowrap;
}

.contact-subtitle {
    color: #2a2d2e;
    font-family: Poppins;
    font-size: 17px;
    line-height: 30px;
}

/*Social*/
.social {
    height: 200px;
    text-align: center;
    margin: 5% 0 5%;
    background-image: linear-gradient(to right, #8ef9de 0%, #6054ff 100%);
    display: flex;
    color: #ffffff;
}

.social-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 102%;
    width: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.social-icon i {
    font-size: 50px;
    color: #ffffff;
}

.icon-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    display: none;
    margin-top: 30px;
}

.social-icon:hover {
    cursor: pointer;
}

.social-icon:hover .icon-text {
    display: block;
}

/*Footer*/
.footer-content{
    display: block;
}

.footer {
    display: flex;
    margin: 0 12% 3%;
    justify-content: space-between;
    align-items: center;
}

.footer-first-box {
    width: 100%;
}

.footer-second-box {
    width: 50%;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.footer-logo div {
    border-radius: 50%;
    margin-right: 19px;
}

.footer-title {
    color: #262b40;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: -1.04px;
}

.footer-social-text {
    display: flex;
    margin-top: 20px;
}

.footer-social-text a {
    text-decoration: none;
    color: #72787a;
}

.footer-social-text li {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-right: 10px;
    color: #72787a;
}

.footer-input {
    position: relative;
    margin-top: 14%;
}

.footer-input input {
    padding-bottom: 10px;
    color: #72787a;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border-width: 0 0 2px;
    border-color: #666666;;
    width: 100%;
}

.footer-input input:hover {
    border-bottom-color: #7443ff;
    cursor: pointer;
    font-weight: 600;
}

.submit-icon {
    position: absolute;
    right: 0;
    bottom: 20px;
    color: #72787a;
}

.footer-line-black {
    height: 7px;
    background-color: #14171d;
    border: none;
    margin: 0 10%;
}

@media screen and (max-width: 1200px) {
    .text-item h2 {
        font-size: 64px;
    }
    .grid-item-4 {
        background: url("../img/port4.png");
        grid-area: 3/1/5/3
    }

    .grid-item-5 {
        background: url("../img/port5.png");
        grid-area: 3/3/5/5;
    }

    .grid-item-6 {
        background: url("../img/port6.png");
        grid-area: 5/1/6/3;
    }

    .grid-item-7 {
        background: url("../img/port7.png");
        grid-area: 5/3/6/5;
    }

    .grid-item-8 {
        background: url("../img/port8.png");
        grid-area: 6/1/7/3;
        width: 598px;
        height: 798px;
    }

    .grid-item-9 {
        background: url("../img/port9.png");
        grid-area: 6/3/7/5;
    }
}
@media screen and (max-width: 1024px) {
    h1{
        font-size: 164px;
    }
    .text-wrap-who {
        padding: 0px 10%;
        width: 100%;
        text-align: justify;
    }

}
@media screen and (max-width: 740px) {
    h1 {
        font-size: 128px;
    }
    p {
        font-size: 32px;
    }
    .make-desing, .Who-I {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-item h2 {
        font-size: 34px;
        text-align: center;
        letter-spacing: 0px;
        line-height: 62px;
        margin: 9%;
    }
    .text-item h4 {
        text-align: center;
    }
    .black-btn-second{
        text-align: center;
    }
    .picture2 {
        width: 75%;
        margin: 3%;
    }
    .text-wrap-who {
        padding: 0px 10%;
        width: 100%;
        text-align: center;
    }

    .panel-menu a {
        margin-right: 10px;
        font-size: 15px;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-container > div {
        margin: 2% 0;
    }
    .grid-item-8 {
        width: auto;
        height: 385px;
    }
    .select-title {
        font-size: 65px;
    }
    .plans-img {
        display: none;
    }
    .plans-menu {
        display: none;
    }
    .select-plans-box {
        display: inline-grid;
        justify-content: center;
    }
    .keep-in-title {
        font-size: 40px;
        letter-spacing: -2px;
    }
    .content-text {
        display: none;
    }
    .btn-keep-in {
        margin-top: 25px;
    }
    .button-center {
        height: 47px;
        border-radius: 22px;
        font-size: 12px;
    }
    .contacts {
        display: block;
        margin-top: 7%;
        text-align: center;
    }
    .contact-title {
        font-size: 20px;
    }
    .contact-subtitle {
        font-size: 14px;
    }
    .social {
        height: 110px;
    }
    .social-icon i {
        font-size: 30px;
    }
    .btn-black a {
        font-size: 10px;
    }
    .purple-btn {
        margin-top: 16%;
        text-align: center;
        width: 150px;
        padding: 7px;
    }
    .select-plans-menu h4 {
        text-align: center;
        font-size: 20px;
        margin-top: 6%;
    }
    .keep-in {
        display: block;
        margin: 0 7% 8%;
        width: 85%;
    }
    .btn-form{
        text-align: center;
    }
    .footer {
        display: block;
    }
    .footer-first-box {
        width: 100%;
    }
    .footer-logo {
        display: block;
        text-align: center;
    }
    .footer-social-text {
        display: block;
        text-align: center;
    }
    .footer-second-box {
        width: 100%;
        margin: 2%;
    }
    .subscribe{
        text-align: center;
        margin-top: 4%;
    }
}
@media screen and (max-width: 420px) {
    h1 {
        font-size: 60px;
        letter-spacing: -2px;
    }
    .logo {
        padding: 21px;
        height: 36px;
    }
    .top-menu {
        padding: 27px;
    }

    .text-item h2 {
        font-size: 19px;
        line-height: 43px;
    }

    .text-item h4 {
        font-size: 12px;
    }

    .Who-I p {
        display: none;
    }

    .panel-menu a {
        margin-right: 6px;
        font-size: 11px;
    }

    .grid-subtitle {
        display: none;
    }

    .grid-title {
        display: none;
    }

    .select-title {
        font-size: 48px;
    }

    .social-icon i {
        font-size: 23px;
    }
    .social {
        height: 91px;
    }
}
